<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//pl.sda.library.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pl.sda.library.mybatis.LibraryMapper">

    <select id="countBooks" resultType="int">
        select count(*) from book
    </select>

    <select id="getBooks" resultType="pl.sda.library.model.Book">
        select b.title,b.id,a.first_name as authorFirstName,
        a.last_name as authorLastName from book as b
        left join author as a on b.author_id = a.id
    </select>

    <select id="getById" resultType="pl.sda.library.model.Book">
        select b.title,b.id,a.first_name as authorFirstName,
        a.last_name as authorLastName from book as b
        left join author as a on b.author_id = a.id
        where b.id = #{id}
    </select>

</mapper>